{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Deepak S R</title>
	<link href="{% static '/css/style.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/deepak.jpg' %}" >
					<hr>
					<h4 style="font-family: 'fantasy';">Hi I'm Deepak!</h4>
					<p>I love coding, doing research and wish to dive deep into web development</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>My First Job as a Developer</h4>
					<hr>
					<p>Months after writing my first Hello World program on September 8th 2018 during my college days I got directly into Data Engineering at Tiger Analytics. While working in the Data Engineering domain for quite some time, I had convinced myself to try some front-end web development using Angular 8 (obviously with some HTML% and CSS3). Luckily, it turned out really well. </p>

					<p>Before I knew it, I became a part of the frontend development team in an important project</p>

					<p>The Newbie me, then developed an important module of the project and goes on developing many min-projects using Angular and Django</p>

					<p>From this you’ll see that I’m someone that jumps before I can talk myself out of doing something scary.</p>

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<p>Software Engineer at Tiger Analytics.</p>
					<p>Designed, built and managed a pricing portal as a web developer, which is a system supports thousands of users, with a UI for dashboard and pricing performance graphs.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Django (&DjangoRestFramework), HTML/CSS, JavaScript/Jquery, Angular (typescript), Postgres, AWS and APIs such as google maps, JavaScript charts and a whole bunch more I can’t possibly mention in one sentence! ;)</p>
					<p>PS: Working on Angular 8, mySQL and Django.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Reverse Engineer & Build Ugly Prototypes First.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>After almost a year of supporting the user portal at my organisation, I’m ready to learn something new. I'll be collaborating and sharing my experience with others on my github (https://github.com/DeepakSR12/Portfolio) .</p>
				<p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>
