<body>
    <div class="bodyPage">    

    
        <app-navbar></app-navbar>
        <h2 class="header" style="color: white;">India</h2>
        <h5 style="color: white; margin-top: 15px;" class="date" >Updated Date : {{date}} </h5>

        <div class="inner-section container-fluid">
    
            <div class="row container">
                            
                <div class="card card-confirmed col-xs-4  col-sm-3 ">      
                    
                    <h5 class="title"> <p class="delta1">{{deltaConfirmed}} &uarr; </p>  Total Cases</h5>   
                    
                    <div class="bar">  
                                          
                        <div class="emptybar"></div>
                        <div class="filledbar"></div>   
                        <h3 class="case1">{{totalConfirmed}}</h3>
                        
                    </div>
                    
                    <div class="circle">                    
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle class="stroke" cx="60" cy="60" r="50"/>                        
                        </svg>
                    </div>                
                    
                </div>
                <!-- <div class="bg"></div> -->
    
                <div class="card card-active col-xs-4  col-sm-3 ">
                    
                    <h5 class="title"> <p class="delta2">{{deltaActive}} &uarr;</p>  Active Cases</h5>
                    <div class="bar">
                        <div class="emptybar"></div>
                        <div class="filledbar"></div>
                        <h3 class="case2">{{activeCases}}</h3>
                    </div>
                    <div class="circle">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle class="stroke" cx="60" cy="60" r="50"/>
                        </svg>
                    </div>
                </div>
                <!-- <div class="bg"></div> -->
    
                <div class="card card-recovered col-xs-4  col-sm-3 ">
                    
                    <h5 class="title"> <p class="delta3">{{deltaRecovered}} &uarr;</p>  Recovered Cases</h5>
                    <div class="bar">
                        <div class="emptybar"></div>
                        <div class="filledbar"></div>
                        <h3 class="case3">{{totalRecovered}}</h3>
                    </div>
                    <div class="circle">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle class="stroke" cx="60" cy="60" r="50"/>
                        </svg>
                    </div>
                    
                </div>
                          
                <!-- <div class="bg"></div> -->
    
                <div class="card card-death col-xs-4  col-sm-3 ">
                    
                    <h5 class="title"> <p class="delta4">{{deltaDeaths}} &uarr;</p>  Total Deaths</h5>
                    <div class="bar">
                        <div class="emptybar"></div>
                        <div class="filledbar"></div>
                        <h3 class="case4">{{totalDeaths}}</h3>
                    </div>
                    <div class="circle">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle class="stroke" cx="60" cy="60" r="50"/>
                        </svg>
                    </div>
                </div>
                <!-- <div class="bg"></div> -->
    
            </div>
    
            <div class="inbox-widget row">
                <div id="pieChart" style="width: 100%; height: 400px"></div>
            </div>
            
            <button class="btn btn-dark stateButton" (click)="stateData()" style="color: white;">State wise data</button>
        </div>
    
    </div>
</body>